/* ==========================================================================
Imports
========================================================================== */

/* ==========================================================================
Main page styles
========================================================================== */
.button-generic {
  width: fit-content;
  border-color: #16c829;
  border-radius: 5px;
  color: white;
  &:hover {
    background-color: #0e8f1a;
    border-color: #0e8f1a;
    color: white;
  }
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('/content/images/instructor-apprentice.png') no-repeat center top;
  background-size: contain;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10%;
}

.home-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.home-card {
  //height: 20%;
  width: 30%;
}

.home-icon {
  color: #0e8f1a;
  background-color: lightgray;
  font-size: 1.5em;
  padding: 16px 12px;
  margin: 0 0 15px 0;
  border-radius: 6px;
}
